In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
# Calculate the total number of schools
school_count = len(school_df["school_name"].unique())

# Calculate the total number of students
student_count = len(student_df["Student ID"].unique())

# Calculate the total budget
total_budget = float(school_df["budget"].sum())

# Calculate the average math score 
average_math = round(float(merged_df["math_score"].mean()), 2)

# Calculate the average reading score
average_reading = round(float(merged_df["reading_score"].mean()), 2)

# Calculate the percentage of students with a passing math score (70 or greater)
math_passing = len(merged_df.loc[merged_df["math_score"] >= 70]["Student ID"])
math_passing_percent = float(round(math_passing / student_count * 100, 2))

# Calculate the percentage of students with a passing reading score (70 or greater)
reading_passing = len(merged_df.loc[merged_df["reading_score"] >= 70]["Student ID"])
reading_passing_percent = float(round(reading_passing / student_count * 100, 2))

# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
overall_passing = merged_df.loc[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70)]["Student ID"].count()
overall_passing_percent = float(round(overall_passing / student_count * 100, 2))

# Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools":school_count, "Total Students":student_count,
                                "Total Budget":total_budget, "Average Math Score":average_math,
                                "Average Reading Score":average_reading, 
                                "Percent Passed Math":math_passing_percent,
                                "Percent Passed Reading":reading_passing_percent,
                                "Overall Passing Rate":overall_passing_percent}, index=[0])
district_summary
# Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passed Math,Percent Passed Reading,Overall Passing Rate
0,15,39170,24649428.0,78.99,81.88,74.98,85.81,65.17

## School Summary

In [33]:
#Groups by schools
sch_types = school_df.set_index(['school_name'])['type']

#Total students by school
stu_per_sch = student_df.groupby('school_name')['Student ID'].count()

#School budget
sch_budget = school_df.set_index('school_name')['budget']

#Per student budget
stu_budget = sch_budget / stu_per_sch

#avg scores by school
avg_math = merged_df.groupby('school_name')['math_score'].mean()
avg_read = merged_df.groupby('school_name')['reading_score'].mean()

# % passing scores
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch *100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch *100
overall_pass = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch *100

sch_summary = pd.DataFrame({
    'School Type': sch_types,
    'Total Students': stu_per_sch,
    'Per Student Budget': stu_budget,
    'Total School Budget': sch_budget,
    'Average Math Score': avg_math,
    'Average Reading Score': avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    '% Passing Overall': overall_pass
})

sch_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,581.0,248087,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,600.0,1056600,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,583.0,1049400,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [34]:
# sort values by passing rate and then only print top 5 
top_5 = sch_summary.sort_values("% Passing Overall", ascending = False)
top_5.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [41]:
# sort values by passing rate and then only print top 5 
top_5 = sch_summary.sort_values("% Passing Overall", ascending = True)
top_5.head(15)

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Rodriguez High School,District,3999,637.0,2547363,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,655.0,1910635,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,652.0,3022020,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,650.0,3094650,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,581.0,248087,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,600.0,1056600,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,583.0,1049400,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,609.0,585858,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,578.0,1319574,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,638.0,1043130,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

In [36]:
#creates grade level average math scores for each school 
ninth_math = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math})
math_scores.index.name = "School"

math_scores

                             9th       10th       11th       12th
School
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [37]:
#creates grade level average reading scores for each school
ninth_reading = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading})
reading_scores.index.name = "School"

reading_scores

                             9th       10th       11th       12th
School
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [38]:
#Create spending bins
bins = [0, 598.999, 615.999, 632.999, 999999]
group_name = ['< $599', "$599 - 616", "$616 - 633", "> $633"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

#Group by spending
by_spending = merged_df.groupby('spending_bins')

#Calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()*100

            
#Build the DataFrames           
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    '% Passing Overall': overall})
            
scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

scores_by_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Per Student Budget,,,,,
< $599,83.363065,83.964039,93.702889,96.686558,90.640704
$599 - 616,83.529196,83.838414,94.124128,95.886889,90.121190
$616 - 633,78.484327,81.667908,72.765363,85.397269,62.833644
> $633,77.418997,81.147112,68.335096,81.823567,56.073620

## Scores by School Size

In [39]:
# create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    '% Passing Overall': overall})

scores_by_size.index.name = "Total Students"

scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Total Students,,,,,
Small (<1000),83.828654,83.828654,93.952484,96.040317,90.136789
Medium (1000-2000),83.372682,83.372682,93.616522,96.773058,90.624267
Large (>2000),77.477597,77.477597,68.652380,82.125158,56.574046

## Scores by School Type

In [40]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"

scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Type of School,,,,,
Charter,83.406183,83.406183,93.701821,96.645891,90.560932
District,76.987026,76.987026,66.518387,80.905249,53.695878